<div style="margin-top:-60px">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide>
      <div class="view hm-black-light">
        <img
          class="d-block w-100"
          src="/assets/images/booking/DSCN0253.JPG"
          alt="First slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="view hm-black-slight">
        <img
          class="d-block w-100"
          src="/assets/images/booking/DSCN0258.JPG"
          alt="Second slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="view hm-black-slight">
        <img
          class="d-block w-100"
          src=" /assets/images/booking/DSCN0297.JPG"
          alt="Third slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>
  </mdb-carousel>
</div>
