<div style="margin-top:-60px">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide>
      <div class="view hm-black-light">
        <img
          class="d-block w-100"
          src="/assets/images/booking/slide_1.jpg"
          alt="First slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="view hm-black-slight">
        <img
          class="d-block w-100"
          src="/assets/images/booking/slide_2.jpg"
          alt="Second slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="view hm-black-slight">
        <img
          class="d-block w-100"
          src=" /assets/images/booking/slide_3.jpg"
          alt="Third slide"
        />
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
    </mdb-slide>
  </mdb-carousel>
</div>
