<div class="container mt-5" id="contact">
  <div class="heading-box">
    <h2>Contact <span>Us</span></h2>
    <!-- Title -->
    <div class="subtitle">Our Best Staff And Our Best services</div>
    <!-- Subtitle -->
  </div>
  <section class="section pb-1 mt-5">
    <h2 class="section-heading h1 pt-4"></h2>
    <p class="section-description pb-4"></p>

    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-12 ">
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <!-- Header -->
            <div class="form-header blue accent-1">
              <h3><i class="fa fa-envelope"></i> Write to us:</h3>
            </div>
            <!-- <p>We'll write rarely, but only the best content.</p> -->
            <br />

            <!-- Body -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input mdbActive type="text" id="form3" class="form-control" />
              <label for="form3">Your name</label>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input mdbActive type="text" id="form2" class="form-control" />
              <label for="form2">Your email</label>
            </div>

            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <input mdbActive type="text" id="form32" class="form-control" />
              <label for="form34">Subject</label>
            </div>

            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea
                mdbActive
                type="text"
                id="form8"
                class="md-textarea"
              ></textarea>
              <label for="form8">Icon Prefix</label>
            </div>

            <div class="text-center">
              <button class="btn btn-light-blue waves-light" mdbRippleRadius>
                Submit
              </button>
            </div>
          </div>
        </div>
        <!-- Form with header -->
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 ">
        <!-- Google map -->
        <div class="card p-0">
          <div class="card-body p-1 mx-auto">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4328424407745!2d73.83091924990843!3d18.509332174288197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfc2df9304fd%3A0x33c54d61d579b1ac!2sCodekul!5e0!3m2!1sen!2sin!4v1508825555442"
              width="600"
              height="300"
              frameborder="0"
              style="border:0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <br />
        <!-- Buttons -->
        <div class="row text-center">
          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius>
              <i class="fa fa-map-marker"></i>
            </a>
            <p>
              Codekul, 11/4, 2nd Floor, Opp. Indian Oil Petrol Pump, Near Nal
              Stop, Karve Road, Pune 411004, Maharashtra
            </p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius>
              <i class="fa fa-phone"></i>
            </a>
            <p>+91 7875330760</p>
            <p>Open Today : 09 AM - 10 PM</p>
          </div>

          <div class="col-md-4">
            <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius>
              <i class="fa fa-envelope"></i>
            </a>
            <p>getin@codekul.com</p>
            <p>sale@melayer.com</p>
          </div>
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
</div>
