ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-class {
  position: relative;
  height: 860.016px;
}

.gallery-container .image-main-box .item {
  padding: 0 5px;
  margin-bottom: 10px;
}

.gallery-container .image-main-box .item figure {
  position: relative;
  overflow: hidden;
  padding: 1px;
  width: 100%;
  /* height: 100%; */
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 0 2px #c5a46d, inset 0 0 0 1px #c5a46d;
  box-shadow: 0 0 0 2px #c5a46d, inset 0 0 0 1px #c5a46d;
}
.gallery-container .image-main-box .item figure img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery-container .image-main-box .item figure a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-indent: -999999px;
  overflow: hidden;
  z-index: 11;
}
.gallery-container .image-main-box .item figcaption {
  display: block;
  position: absolute;
  left: -10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
