<div class="container mt-4" id="gallery">
  <div class="heading-box">
    <h2>Our <span>gallery</span></h2>
    <div class="subtitle">Our Best Staff And Our Best services</div>
  </div>
  <div class="container">
    <div class="gallery-container">
      <div class="sort-section">
        <div class="sort-section-container">
          <div class="sort-handle"></div>
        </div>
      </div>
      <div class="row image-main-box clearfix ul-class">
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0310.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0310.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0281.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0281.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0257.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0257.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>

        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0252.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0252.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0242.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0242.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0321.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0321.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>

        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0249.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0249.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0303.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0303.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
        <div class="item col-xs-6 col-md-4  ">
          <figure>
            <img
              class="img-fluid"
              src="/assets/images/gallery/DSCN0301.JPG"
              alt="11"
            />
            <a
              href="/assets/images/gallery/DSCN0301.JPG"
              class="more-details"
              data-title="Great View"
              >Enlarge</a
            >
            <figcaption>
              <h4><span>Great</span> View</h4>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
