<div class="container mt-4" id="gallery">
  <div class="heading-box">
    <h2>Our
      <span>gallery</span>
    </h2>
    <!-- Title -->
    <div class="subtitle">Our Best Staff And Our Best services</div>
    <!-- Subtitle -->
  </div>
  <div class="container">
    <div class="gallery-container">
      <div class="sort-section">
        <div class="sort-section-container">
          <div class="sort-handle">Filters</div>

        </div>
      </div>
      <ul class="image-main-box clearfix" style="position: relative; height: 860.016px;">
        <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 0px; top: 0px;">
          <figure>
            <img src="assets/images/1.jpg" alt="11">
            <a href="assets/images/1.jpg" class="more-details" data-title="Great View">Enlarge</a>
            <figcaption>
              <h4>
                <span>Great</span> View</h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 380px; top: 0px;">
          <figure>
            <img src="assets/images/2.jpg" alt="11">
            <a href="assets/images/2.jpg" class="more-details" data-title="Cozy Spaces">Enlarge</a>
            <figcaption>
              <h4>
                <span>Cozy</span> Spaces</h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 rooms" style="position: absolute; left: 760px; top: 0px;">
          <figure>
            <img src="assets/images/3.jpg" alt="11">
            <a href="assets/images/3.jpg" class="more-details" data-title="Comfortable Rooms">Enlarge</a>
            <figcaption>
              <h4>
                <span>Comfortable </span> Rooms</h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 0px; top: 286px;">
          <figure>
            <img src="assets/images/4.jpg" alt="11">
            <a href="assets/images/4.jpg" class="more-details" data-title="Relaxation Spaces">Enlarge</a>
            <figcaption>
              <h4>
                <span>Relaxation</span> Spaces</h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 pool" style="position: absolute; left: 380px; top: 286px;">
          <figure>
            <img src="assets/images/4.jpg" alt="11">
            <a href="assets/images/4.jpg" class="more-details" data-title="Indoor Pool">Enlarge</a>
            <figcaption>
              <h4>
                <span>Outdoor</span> Pool </h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 relaxation" style="position: absolute; left: 760px; top: 286px;">
          <figure>
            <img src="assets/images/4.jpg" alt="11">
            <a href="assets/images/4.jpg" class="more-details" data-title="Indoor Pool">Enlarge</a>
            <figcaption>
              <h4>
                <span>Calm</span> &amp; Relax Space </h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 relaxation" style="position: absolute; left: 0px; top: 573px;">
          <figure>
            <img src="assets/images/1.jpg" alt="11">
            <a href="assets/images/1.jpg" class="more-details" data-title="Indoor Pool">Enlarge</a>
            <figcaption>
              <h4>
                <span>Enjoy</span> in Sunlight </h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 lobby" style="position: absolute; left: 380px; top: 573px;">
          <figure>
            <img src="assets/images/2.jpg" alt="11">
            <a href="assets/images/2.jpg" class="more-details" data-title="Indoor Pool">Enlarge</a>
            <figcaption>
              <h4>
                <span>Lobby</span> &amp; Great View </h4>
            </figcaption>
          </figure>
        </li>
        <li class="item col-xs-6 col-md-4 sauna" style="position: absolute; left: 760px; top: 573px;">
          <figure>
            <img src="assets/images/3.jpg" alt="11">
            <a href="assets/images/3.jpg" class="more-details" data-title="Indoor Pool">Enlarge</a>
            <figcaption>
              <h4>
                <span>Sauna</span> &amp; Jacuzzi </h4>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</div>